website{
  display: none;
}

#introAnimation{
    position: absolute;
    overflow: hidden;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-image: url("/Users/markus/Documents/DevProject/monkeyMind/resources/images/wallMouseHoleImage.png");
    font-size: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Reenie Beanie', cursive;
  }

#signature{
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  position: absolute;
  opacity: 0.9;
  bottom: 0;
  right: 1rem;
  margin-left: 90%;
  margin-bottom: 1rem;
}

.brandClaim{
  width: 100%;
  color: pink;
  opacity: 0.3;
  font-size: 3.5rem;
  font-family: 'Press Start 2P', cursive;
  line-height: 7rem;
}


// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Press Start 2P', cursive;
// font-family: 'Reenie Beanie', cursive;
// font-family: 'Shadows Into Light', cursive;
