hero{
  margin-bottom: 90px;
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  align-items: center;
}

#brandHero{
  display: flex;
  height: 400px;
  width: 100%;
  flex-flow: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-family: avenir;
  color: rgba(50,10,50,.5);
}

.shoutout-1{
  margin-bottom: 5rem;
  font-size: 5rem;

}

.shoutout-2{
  font-size: 2rem;
}

services{
  margin-top: 10px;
  display: flex;
  height: 400px;
  width: 100%;
  background-color: grey;
}

missionStatement{
  font-family: 'Permanent Marker', cursive;
  font-size: 2rem;
}

missionStatement p{
  font-size: 1rem;
  font-weight: lighter;
}


bios{
  margin-top: 10px;
  display: flex;
  height: 700px;
  width: 100%;
  background-color: white;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}

bio-container{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 100%;
}

profile{
  display: flex;
  flex-flow: wrap;
  background: white;
  height: 450px;
}

.card{
  width: 20rem;
}
